:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --accent-color-active: #188CE8;
    --primary-white-color: #FFFFFF;
    --light-gray-color: #F5F4FA;
    --dark-gray-color:  #2F303A;
    --white-color-60transp: #FFFFFF99; 
}

body {
        font-family: Roboto, sans-serif;
        width: 1600px;
        font-weight: 400;
        background-color: var(--primary-white-color);
        color: var(--primary-text-color);
        letter-spacing: 0.03em;
        font-style: normal;
        text-decoration: none; 
}

.list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
}
.logo,
.color-logo {
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    text-decoration: none;
}

.color-logo {
    color: var(--accent-color)
}

.footer .logo {
    color: var(--primary-white-color)
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 215px;
    margin-right: 215px;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none; 
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:first-child) {
    margin-left: 40px;
}

.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav .item + .item {
    margin-left: 50px;
}

.address .link:hover,
.address .link:focus,
.contact-link:hover,
.contact-link:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.contact-link {
    display: block;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
 
.hero {
    background-color: var(--dark-gray-color); 
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero-title { 
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    margin-bottom: 45px;
}

.hero-button {
    padding: 10px 32px;
    min-width: 216px;
    font-family: inherit;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em; 
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}   

.hero-button:hover,
.hero-button:active {
    background-color: var(--accent-color-active);
}

.feature-list {
    display: flex;
}

.feature-list .item + .item {
margin-left: 30px;

}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    margin-bottom: 13px;
    
}
   
.feature-descript {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.team .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    margin-bottom: 50px;
}

.activity {
    width: 1170px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.activity .container {
    padding-top: 0;
}

.activity .section-title {
    margin-bottom: 50px;
    padding-top: 0;
}

.act-list {
    display: flex;
    flex-wrap: wrap;
}

.act-list .item {
    display: flex;
    width: 370px;
    margin-right: 30px;
}

.act-list .item:last-child {
    margin-right: 0;
}

.team {
    background-color: var(--light-gray-color);
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;  
}

.team .position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.187;
}

.image,
.position {
    margin-bottom: 30px;
}

.name {
    margin-bottom: 10px;
}

.member-card {
    width: 1200px;
    margin-left: 215px;
    margin-right: 215px;
}

.member-card .item {
    display: inline-block;
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2)
}

.member-card .item:not(:first-child) {
    margin-left: 30px;
}

.member-card .item:hover
.member-card .item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}

.filter-buttons {
    margin-right: 8px;
    display: inline-block;
    font-family: inherit;
    background-color: var(--light-gray-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;   
}

.filter-buttons:hover,
.filter-buttons:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    padding: 6px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
.filter-buttons:last-child {
    margin-right: 0;
}

.title-description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color)
}

.projects img {
    margin-top: 100;
    margin-bottom: 20;
     
}

.projects .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.footer {
    background-color: var(--dark-gray-color); 
}

.footer-container {
        margin-left: 215px;
        margin-right: 215px;
        padding-top: 60px;
        padding-bottom: 57px;
}


.address .link {
    display: inline-block;
    font-style: normal;
    color:var(--white-color-60transp);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    margin-bottom: 9px;
}

.portfolio-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
         

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container .flex-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    }
 
.flex-container .flex-item:nth-child(3n){
    margin-right: 0;
}

.flex-container .flex-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.flex-container .flex-item:nth-child(-n + 3) {
    margin-top: 34px;
}

.flex-container .flex-item:hover,
.flex-container .flex-item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.flex-item .title {
    margin-top: 20px;
    margin-bottom:4px;
    margin-left: 24px;
    margin-right: 24px;
}

.flex-item .title-description {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
}

.address .maps {
    font-style: normal;
    color: var(--primary-white-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer .logo {
    display: inline-block;
    margin-bottom: 20px;
}


